
img{
    height: 250px;
    border: 6px double black;
    padding: 6px;
    transition: 0.2s
}

.right-align{
    float: right;
    margin: 0 20px  6px 12px;
}

.left-align{
    float: left;
    margin: 0 20px  6px 12px;
}

h1{
    text-align: center;
    color: rgb(51, 78, 9);
}

h2{
    text-align: center;
    color: rgb(59, 94, 3);
}

p{
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:justify;
    font-weight: bold;
    font-style: italic;
    
}

.right-align:hover{
    border: 6px double red;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

.left-align:hover{
    border: 6px double blue;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

body {
    background-color:aliceblue;
}
