
img{
    height: 250px;
    border: 6px double black;
    padding: 6px;
    transition: 0.2s
}

.right-align{
    float: right;
    margin: 0 20px  6px 12px;
}

.center{
    float: right;
    margin: 0 12px 6px 0;
}

p{
    text-align:justify;
    font-weight: bold;
    font-style: italic;
    
}

h1{
    text-align: center;
    color: rgb(51, 78, 9);
}

.right-align:hover{
    border: 6px double red;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

.left-align:hover{
    border: 6px double blue;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}

body {
    background-color:blanchedalmond;
}

.center:hover{
    border: 6px double greenyellow;
    transform: scale(1.05);
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
}
